.custom-toast {
  background-color: white;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: var(--font-outfit) !important;
  padding: 10px;
}

.custom-toast-body {
  font-size: 14px;
}
